/* FONTS SECTION */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/* UNIVERSAL SELECTOR */

* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    color: #342A21;
}

/* HEADER SECTION */

header {
    width: 100%;
    text-align: center;
    background-color: #AAC0AA;
}

header h1 {
    padding: 15px;
    font-size: 45px;
}

/* NAVIGATION SECTION */

nav li {
    display: inline-block;
    padding: 5px;
    width: 100px;
    height: 20px;
}

nav li:hover {
    background-color: #DCEED1;
}

/* BODY SECTION */

body {
    background-color: #E8EEF2;
}

/* SECTION SECTION */

section {
    margin: 60px 100px;
}

section h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 30px;
}

section h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
}

section h4 {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
}

section h5 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 16px;
}

section li {
    position: relative;
    left: 30px;
    font-style: italic;
}

/* TABLES SECTION */

.tables table {
    background-color: #D6C9C9;
    border: 1px solid #342A21;
    border-collapse: collapse;
}

.tables table th {
    padding: 10px;
}

.tables table td {
    border: 1px solid #342A21;
    padding: 10px;
}

/* CSS SECTION */

.sub-section {
    margin: 0 40px;
    position: relative;
}

.code-snippet {
    white-space: pre;
    font-family: monospace;
    font-style: italic;
    font-size: 15px;
    color: #9E9E9E;
    margin: 0 25px;
}

span {
    font-weight: 600;
    text-decoration: underline;
}



